{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Page not found!{% endblock %}

{% block meta_description %}
{% endblock %}

{% block body_content %}
	<article class="about">
		<content>
			<a class="title">Page not found!</a><br>
			<br>The page that you have requested cannot be found. This may be because the page has been moved or deleted.<br><br>
			If this problem persists contact: <a href="mailto:tomwilkins93@hotmail.co.uk" title="email">tomwilkins93@hotmail.co.uk</a>
		</content>
	</article>
{% endblock %}